.card {
  position: relative;
  background-color: var(--cardColor);
  width: calc(80vw - 350px);
  border-radius: 20px;
  overflow: hidden;
  color: var(--fontColor);
  box-shadow: var(--cardBoxShadow);
  & > .none {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.smallSize {
    width: 100vw;
  }

  & > .has {
    padding: 30px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > .folder {
      display: flex;
      padding-left: 30px;
      gap: 30px;

      & > .item {
        display: flex;
        align-items: center;
        gap: 10px;
        word-break: break-all;
        cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@vlatest/assets/cola.ico),
          pointer;

        &:hover {
          color: var(--styleColor);
        }
      }
    }
  }
}
