.container {
  background-image: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@vlatest/background.b760b7c3ebe8fc9c.jpeg);
  background-size: cover;
  height: var(--bodyHeight);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    z-index: 0;
  }
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 350px;
  height: 300px;
  background-color: #1d2939;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > h1 {
    color: white;
    text-align: center;
    font-size: 25px;
  }

  & > .form {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & > .formItem {
      width: 100%;
      position: relative;

      & > label {
        position: absolute;
        bottom: 5px;
        transform-origin: left;
        transition: all 0.3s ease;
      }

      & > .focusInput {
        bottom: 20px;
        transform: scale(0.8);
        color: var(--loginFontColor);
      }

      & > input {
        width: 100%;
        background: none;
        border-bottom: 1px solid #7a8796;
        font-size: 16px;
      }

      &:has(.ng-touched) {
        border-bottom: 1px solid #ff4d6b;

        & > label {
          color: #ff4d6b;
        }
      }

      &:has(.ng-valid) {
        border-bottom: 1px solid #7a8796;

        & > label {
          color: var(--loginFontColor);
        }
      }
    }

    & > .submit {
      position: relative;
      background: transparent;
      border-radius: 8px;
      overflow: hidden;
      padding: 6px 25px;
      cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
        pointer;
      box-shadow: 0px 0px 10px var(--loginFontColor);

      &::after {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        top: 50%;
        left: 50%;
        transform-origin: left top;
        z-index: -1;
        background: radial-gradient(var(--loginFontColor) 45%, transparent);
        animation: rotate 2s linear infinite;
      }

      &::before {
        position: absolute;
        content: '';
        inset: 2px;
        z-index: 0;
        border-radius: 8px;
        background-color: black;
      }

      & > .span {
        position: relative;
        z-index: 10;
        font-size: 12px;
        color: var(--loginFontColor);
        transition: all 0.3s ease;
      }

      &:hover {
        overflow: visible;

        &::before {
          background-color: var(--loginFontColor);
          inset: 0;
          box-shadow: 0px 0px 20px var(--loginFontColor);
        }

        &::after {
          width: 0;
          height: 0;
        }

        & > .span {
          color: white;
        }
      }
    }

    &.ng-submitted {
      &:has(.ng-invalid) {
        & > .formItem:has(.ng-invalid) {
          border-bottom: 1px solid #ff4d6b;

          & > label {
            color: #ff4d6b;
          }
        }
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
