<div [class]="isSmall ? 'small' : 'userInfo'">
  <img src="/assets/avatar.jpg" alt="" />
  <div class="name" *ngIf="!isSmall">Unstoppable840</div>
  <div class="motto" *ngIf="!isSmall">乐于探索前端新技术，前端开发者</div>
  <div class="assets">
    <div class="item">
      <span>文章</span>
      <span class="num">{{ articleInfoList.length }}</span>
    </div>
    <div class="item">
      <span>分类</span>
      <span class="num">{{ folderNum }}</span>
    </div>
    <div class="item">
      <span>标签</span>
      <span class="num">{{ tagsNum }}</span>
    </div>
  </div>
  <div class="outlink" *ngIf="!isSmall">
    <span nz-icon nzType="mail" nzTheme="fill" title="邮箱"></span>
    <span nz-icon nzType="github" nzTheme="outline" title="github"></span>
    <span nz-icon nzType="twitter" nzTheme="outline" title="twitter"></span>
  </div>
</div>
