.userInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: var(--fontColor);
  padding: 30px;

  img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    object-fit: contain;
    transition: all 0.5s;

    &:hover {
      transform: rotate(360deg);
    }
  }

  .name {
    font-size: 25px;
    font-weight: 500;
    color: var(--userNameFontColor);
  }

  .assets {
    display: flex;
    gap: 15px;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.2s ease;
      line-height: normal;
      cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
        pointer;

      .num {
        font-weight: 800;
        color: var(--userNameFontColor);
      }
    }

    .item:hover {
      transform: scale(1.1);
      color: var(--styleColor);

      .num {
        color: var(--styleColor);
      }
    }
  }

  .outlink {
    display: flex;
    gap: 10px;

    span {
      height: 25px;
      font-size: 25px;
      line-height: 25px;
      transition: all 0.2s ease;
      cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
        pointer;
    }

    span:hover {
      transform: scale(1.3);
      color: var(--styleColor);
    }
  }
}

.small {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  color: var(--cateColor);

  img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: contain;
    transition: all 0.5s;

    &:hover {
      transform: rotate(360deg);
    }
  }

  .assets {
    display: flex;
    gap: 15px;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.2s ease;
      line-height: normal;
      cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
        pointer;

      .num {
        font-weight: 800;
        color: var(--userNameFontColor);
      }
    }

    .item:hover {
      transform: scale(1.1);
      color: var(--styleColor);

      .num {
        color: var(--styleColor);
      }
    }
  }
}
