<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="bottom">
  <div class="info">
    <span>
      <span nz-icon nzType="copyright" nzTheme="outline"></span>
      <span>2023-2024</span>
    </span>
    &nbsp;
    <span>
      <span nz-icon nzType="heart" nzTheme="fill"></span>
      <span style="cursor: pointer; font-weight: 800" (click)="goHome()">
        Unstoppable840
      </span>
    </span>
  </div>
  <div class="info">
    <span>
      <span nz-icon nzType="eye" nzTheme="fill"></span>
      <span>10</span>
    </span>
    &nbsp;
    <span>
      <span nz-icon nzType="like" nzTheme="outline"></span>
      <span>10</span>
    </span>
  </div>
  <div class="power">Unstoppable840小站 | 乐于探索前端开发新技术</div>
  <a class="power" href="https://github.com/ounstoppableo/blog-system">
    Powered by BlogSystem 1.0.1.
  </a>
</div>
