<div class="bottom">
  <div class="info" style="display: flex">
    <span style="display: flex; align-items: center; gap: 5px">
      <span class="iconfont icon-copyright" style="font-size: 12px"></span>
      <span>2023-2024</span>
    </span>
    &nbsp;|&nbsp;
    <span>
      <span class="iconfont icon-heart-fill"></span>
      <span
        style="
          cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
            pointer;
          font-weight: 800;
        "
        (click)="goHome()"
      >
        Unstoppable840
      </span>
    </span>
  </div>
  <div class="runtime">
    <span class="iconfont icon-safe" style="font-size: 12px"></span>
    <span>已安全运行：{{ baseInfo?.runtime || '' }}</span>
  </div>
  <a class="power" href="https://github.com/ounstoppableo/blog-system">
    Powered by BlogSystem 1.1.4.
  </a>
</div>
