<div class="bottom">
  <div class="info">
    <span>
      <span>琼备</span>
      <span class="iconfont icon-copyright"></span>
      <span>2023-2024</span>
    </span>
    &nbsp;
    <span>
      <span class="iconfont icon-heart-fill"></span>
      <span
        style="
          cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
            pointer;
          font-weight: 800;
        "
        (click)="goHome()"
      >
        Unstoppable840
      </span>
    </span>
  </div>
  <div class="info">
    <span>
      <span class="iconfont icon-eye-fill"></span>
      <span>{{ VT | numberTrans }}</span>
    </span>
    &nbsp;
    <span>
      <span class="iconfont icon-like-fill"></span>
      <span>10</span>
    </span>
  </div>
  <div class="power">Unstoppable840小站 | 乐于探索前端开发新技术</div>
  <a class="power" href="https://github.com/ounstoppableo/blog-system">
    Powered by BlogSystem 1.1.1.
  </a>
</div>
