<div class="card" [class]="smallSize ? 'smallSize' : ''" *ngIf="!loading">
  <div class="none" *ngIf="tags.length === 0">
    <app-none></app-none>
  </div>
  <div class="has" *ngIf="tags.length !== 0">
    <div class="title">
      <span class="iconfont icon-tags" [style]="{ fontSize: '25px' }"></span>
      &nbsp;&nbsp;
      <span>标签:</span>
    </div>
    <div class="tags"><app-tag [tagList]="tags" [gap]="20"></app-tag></div>
  </div>
</div>
<app-cate-by-tag-skeleton
  *ngIf="loading"
  [smallSize]="smallSize"
></app-cate-by-tag-skeleton>
<app-book-display *ngIf="showMsgAndArticle"></app-book-display>
<app-random-article-and-new-msg
  *ngIf="showMsgAndArticle && !smallSize"
  [limit]="10"
></app-random-article-and-new-msg>
