<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="container" #container>
  <div class="left" (click)="goHome()">Unstoppable840的小站</div>
  <ul *ngIf="!showFolderIcon" class="right">
    <li (click)="goHome()">
      <span nz-icon nzType="home" nzTheme="fill"></span>
      首页
    </li>
    <li (click)="goSearch()">
      <span nz-icon nzType="search" nzTheme="outline"></span>
      搜索
    </li>
    <li (click)="goMsgBoard()">
      <span nz-icon nzType="form" nzTheme="outline"></span>
      留言板
    </li>
    <li (click)="login()" *ngIf="!isLogin">
      <span nz-icon nzType="login" nzTheme="outline"></span>
      管理员登陆
    </li>
    <li *ngIf="isLogin" (click)="upload.emit()">
      <span nz-icon nzType="upload" nzTheme="outline"></span>
      上传文章
    </li>
  </ul>
  <div *ngIf="showFolderIcon" class="folder" (click)="folderShow()">
    <span nz-icon [nzType]="folderControl" nzTheme="outline"></span>
  </div>
</div>
