<div class="container" #container>
  <div class="left" (click)="goHome()">Unstoppable840的小站</div>
  <ul *ngIf="!(smallSize | async)" class="right">
    <li (click)="goHome()">
      <span class="iconfont icon-homefill goHome"></span>
      <span>首页</span>
    </li>
    <li (click)="goSearch()">
      <span class="iconfont icon-search search"></span>
      <span>搜索</span>
    </li>
    <li (click)="goMsgBoard()">
      <span class="iconfont icon-form leaveMsg"></span>
      <span>留言板</span>
    </li>
    <li
      #list
      (mouseover)="liOnMouseOver(list)"
      (mouseleave)="liOnMouseLeave(list)"
      class="archives"
    >
      <span class="iconfont icon-container-fill"></span>
      <span>往期整理</span>
      <span class="iconfont icon-down"></span>
      <ul class="list">
        <li (click)="goDateCate()" class="archives">
          <span
            class="iconfont icon-time-history"
            [style]="{ fontSize: '20px' }"
          ></span>
          <span>历史归档</span>
        </li>
        <li (click)="goFolderCate()" class="categories">
          <span
            class="iconfont icon-appstore"
            [style]="{ fontSize: '20px' }"
          ></span>
          <span>文章分类</span>
        </li>
        <li (click)="goTagCate()" class="tagCate">
          <span
            class="iconfont icon-tags"
            [style]="{ fontSize: '20px' }"
          ></span>
          <span>文章标签</span>
        </li>
      </ul>
    </li>
    <li
      #list3
      (mouseover)="liOnMouseOver(list3)"
      (mouseleave)="liOnMouseLeave(list3)"
      class="archives"
    >
      <span class="iconfont icon-yule"></span>
      <span>拓展功能</span>
      <span class="iconfont icon-down"></span>
      <ul class="list">
        <li (click)="goChatPlatform()" class="archives">
          <span
            class="iconfont icon-scene"
            [style]="{ fontSize: '20px' }"
          ></span>
          <span>聊天室</span>
        </li>
      </ul>
    </li>
    <li (click)="login()" *ngIf="!(isLogin | async)">
      <span class="iconfont icon-login"></span>
      管理员登陆
    </li>
    <li
      #list2
      *ngIf="isLogin | async"
      (mouseover)="liOnMouseOver(list2)"
      (mouseleave)="liOnMouseLeave(list2)"
    >
      <span class="iconfont icon-upload"></span>
      <span>内容操作</span>
      <span class="iconfont icon-down"></span>
      <ul class="list">
        <li (click)="upload.emit()">
          <span
            class="iconfont icon-shiyongwendang"
            [style]="{ fontSize: '20px' }"
          ></span>
          <span>上传文章</span>
        </li>
        <li (click)="addMusic()">
          <span
            class="iconfont icon-wangyiyunyinle"
            [style]="{ fontSize: '20px' }"
          ></span>
          <span>上传音乐</span>
        </li>
        <li (click)="addBook()">
          <span
            class="iconfont icon-book"
            [style]="{ fontSize: '20px' }"
          ></span>
          <span>添加书籍</span>
        </li>
      </ul>
    </li>
  </ul>
  <div *ngIf="smallSize | async" class="folder" (click)="folderShow()">
    <span class="iconfont icon-menu_open"></span>
  </div>
</div>
