@import '../../../assets/mixin.scss';

.container {
  width: 100%;
  height: var(--headerHeigth);
  display: flex;
  position: fixed;
  top: 0;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: #fafafa;
  z-index: 99;

  .left {
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    @include borderAnime;
  }

  .right {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    & > li {
      display: flex;
      align-items: center;
      gap: 5px;
      height: 36px;
      padding: 0 15px;
      text-align: center;
      line-height: 36px;
      font-size: 16px;
      cursor: pointer;
      @include borderAnime;
    }

    li:has(.list) {
      & > [nzType='down'] {
        transition: all 0.3s ease;
      }
      & > .list {
        position: absolute;
        top: 100%;
        left: 5px;
        right: 5px;
        transition: all 0.5s ease;
        border-radius: 8px;
        background-color: var(--cardColor);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        color: var(--fontColor);
        overflow: hidden;
        display: none;
        animation: show 0.5s ease;
        & > li {
          font-size: 15px;
          display: flex;
          padding: 5px 0;
          padding-left: 15px;
          gap: 10px;
          align-items: center;
          &:hover {
            background-color: #a5b4fc;
          }
        }
      }
      &:hover {
        & > [nzType='down'] {
          transform: rotate(180deg);
        }
        & > .list {
          display: block;
        }
      }
    }
  }

  .folder {
    cursor: pointer;
  }
}

.active {
  background-color: var(--cardColor);
  color: var(--fontColor);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s linear;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}
@keyframes show {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
