.card {
  position: relative;
  background-color: var(--cardColor);
  width: calc(80vw - 350px);
  border-radius: 20px;
  overflow: hidden;
  color: var(--fontColor);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  & > .none {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.smallSize {
    width: 100vw;
  }

  & > .has {
    padding: 30px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &>.tags {
      padding-left: 30px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      line-height: 0;
      &>.tag {
        height: 22px;
      }
     }
  }
}
