<div class="container">
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px',
      marginLeft: '30px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px',
      marginLeft: '60px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px',
      marginLeft: '30px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px',
      marginLeft: '60px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px',
      marginLeft: '90px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px',
      marginLeft: '30px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px',
      marginLeft: '30px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px',
      marginLeft: '60px'
    }"
  />
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '20px',
      width: '120px'
    }"
  />
</div>
