<div class="container" [style]="{ display: 'none' }" #container>
  <div class="albumAndLyric">
    <div #album class="album">
      <div
        class="musicPic"
        [ngStyle]="{
          backgroundImage: 'url(' + currentMusic.picUrl + ')'
        }"
      ></div>
      <div class="dot"></div>
      <canvas #voiceFrequency id="voiceFrequency"></canvas>
    </div>
    <div #wantChangeColorEle class="lyric">
      <div *ngIf="!currentLyric" class="noLyric">纯音乐，请欣赏</div>
      <div #scrollContainer *ngIf="currentLyric">
        <div
          *ngFor="let item of currentLyric; let i = index"
          [id]="
            audio.currentTime >= item[0] &&
            (i === currentLyric.length - 1 ||
              audio.currentTime < currentLyric[i + 1][0])
              ? 'active'
              : ''
          "
          [ngClass]="{
            active:
              audio.currentTime >= item[0] &&
              (i === currentLyric.length - 1 ||
                audio.currentTime < currentLyric[i + 1][0])
          }"
          [attr.data-index]="item[0]"
          (click)="lyricTransform(item[0])"
        >
          {{ item[1] }}
        </div>
      </div>
      <canvas #getBgLightColor></canvas>
    </div>
  </div>
  <div class="controler">
    <span class="fontSize iconfont icon-close" (click)="close()"></span>
    <span
      class="fontSize iconfont"
      (click)="toggleIyric()"
      [ngClass]="{ 'icon-geciweidianji': !isIyric, 'icon-album1': isIyric }"
    ></span>
    <span class="fontSize iconfont icon-shangyiqu" (click)="prevSong()"></span>
    <span
      class="fontSize iconfont icon-xiayiqu"
      (click)="nextCallback()"
    ></span>
    <span
      class="fontSize iconfont"
      (click)="togglePlayerModel()"
      [ngClass]="{
        'icon-danquxunhuan': playerModel === 'danqu',
        'icon-shunxubofang': playerModel === 'shunxu',
        'icon-suijibofang': playerModel === 'suiji'
      }"
    ></span>
    <span
      class="player iconfont"
      [ngClass]="{ 'icon-24gf-play': !play, 'icon-tingzhi': play }"
      (click)="playAudio()"
    ></span>
  </div>
  <div class="musicInfo">
    <div class="musicName">{{ currentMusic.musicName }}</div>
    <div class="musicAuthor">{{ currentMusic.musicAuthor }}</div>
  </div>
  <div class="player">
    <div class="totalTime">{{ secondsToTime(audio.duration) }}</div>
    <div
      class="progress"
      (mousedown)="onMousedown()"
      (click)="setProgress($event)"
      (mousemove)="setProgress($event)"
    ></div>
    <div class="currentTime">{{ secondsToTime(audio.currentTime) }}</div>
  </div>
</div>

<div
  class="playerOpener toShow"
  #playerOpener
  *ngIf="musicList.length !== 0"
  (click)="open()"
>
  <span class="iconfont icon-wangyiyunyinle"></span>
  <div class="noteAnimation" *ngIf="play">
    <span class="iconfont icon-yinle"></span>
    <span class="iconfont icon-yinle1"></span>
    <span class="iconfont icon-yinfu"></span>
    <span class="iconfont icon-yinfu1"></span>
    <span class="iconfont icon-yinfu2"></span>
    <span class="iconfont icon-yinfu02"></span>
  </div>
</div>

<audio
  #audio
  [src]="currentMusic.musicUrl && '/api/music/' + currentMusic.musicUrl"
  [ngStyle]="{ width: '0px', height: '0px' }"
></audio>
