<div class="root" #root [style]="{ display: 'none' }">
  <div class="container" #container id="musicContainer">
    <div class="albumAndLyric">
      <div #album class="album">
        <div
          class="musicPic"
          [ngStyle]="{
            backgroundImage: 'url(' + currentMusic.picUrl + ')',
          }"
        ></div>
        <div class="dot"></div>
        <canvas #voiceFrequency id="voiceFrequency"></canvas>
      </div>
      <div #wantChangeColorEle class="lyric">
        <div *ngIf="!currentLyric" class="noLyric">纯音乐，请欣赏</div>
        <div #scrollContainer *ngIf="currentLyric">
          <div
            *ngFor="let item of currentLyric; let i = index"
            [id]="
              audio.currentTime >= item[0] &&
              (i === currentLyric.length - 1 ||
                audio.currentTime < currentLyric[i + 1][0])
                ? 'active'
                : ''
            "
            [ngClass]="{
              active:
                audio.currentTime >= item[0] &&
                (i === currentLyric.length - 1 ||
                  audio.currentTime < currentLyric[i + 1][0]),
            }"
            [attr.data-index]="item[0]"
            (click)="lyricTransform(item[0])"
          >
            {{ item[1] }}
          </div>
        </div>
        <canvas #getBgLightColor></canvas>
      </div>
    </div>
    <div class="controler">
      <span
        class="fontSize iconfont icon-mulu"
        (click)="showMusicList('musicList')"
      ></span>
      <span
        class="fontSize iconfont"
        (click)="toggleIyric()"
        [ngClass]="{ 'icon-geciweidianji': !isIyric, 'icon-album1': isIyric }"
      ></span>
      <span
        class="fontSize iconfont icon-shangyiqu"
        (click)="prevSong()"
      ></span>
      <span
        class="fontSize iconfont icon-xiayiqu"
        (click)="nextCallback()"
      ></span>
      <span
        class="fontSize iconfont"
        (click)="togglePlayerModel()"
        [ngClass]="{
          'icon-danquxunhuan': playerModel === 'danqu',
          'icon-shunxubofang': playerModel === 'shunxu',
          'icon-suijibofang': playerModel === 'suiji',
        }"
      ></span>
      <span
        class="player iconfont"
        [ngClass]="{ 'icon-24gf-play': !play, 'icon-tingzhi': play }"
        (click)="playAudio(this.play ? false : true)"
      ></span>
    </div>
    <div class="musicInfo">
      <div class="musicName" [title]="currentMusic.musicName">
        {{ currentMusic.musicName }}
      </div>
      <div class="musicAuthor" [title]="currentMusic.musicAuthor">
        {{ currentMusic.musicAuthor }}
      </div>
    </div>
    <div class="player">
      <div class="totalTime">{{ secondsToTime(audio.duration) }}</div>
      <div
        class="progress"
        (mousedown)="onMousedown()"
        (click)="setProgress($event)"
        (mousemove)="setProgress($event)"
      ></div>
      <div class="currentTime">{{ secondsToTime(audio.currentTime) }}</div>
    </div>
  </div>
  <div class="musicList" id="musicList" #musicListRef>
    <div class="header">
      <div class="left">
        <span
          class="fontSize iconfont icon-mulu"
          style="font-size: 20px"
        ></span>
        <span>Favorite Musics</span>
      </div>
      <div class="right">
        <span
          class="fontSize iconfont icon-homefill"
          style="
            font-size: 20px;
            cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@vlatest/assets/cola.ico),
              pointer;
          "
          (click)="showMusicList('musicPlayer')"
        ></span>
      </div>
    </div>
    <div class="listContainer">
      <div
        class="musicItem"
        [class]="{ actived: item.musicUrl === currentMusic.musicUrl }"
        *ngFor="let item of musicList; let i = index"
        (click)="handleClickMusic(i)"
      >
        <div class="musicPic">
          <img [src]="item.picUrl" alt="" noLazyLoad="true" />
        </div>
        <div class="musicInfo">
          <div class="musicName" [title]="item.musicName">
            {{ item.musicName }}
          </div>
          <div class="musicAuthor" [title]="item.musicAuthor">
            {{ item.musicAuthor }}
          </div>
        </div>
        <div style="flex: 1"></div>
        <div class="musicTime">{{ secondsToTime(item.musicTime) }}</div>
      </div>
    </div>
  </div>
</div>

<div
  class="playerOpener toShow"
  id="musicOpener"
  #playerOpener
  *ngIf="musicList.length !== 0"
  (click)="open()"
>
  <span class="iconfont icon-wangyiyunyinle"></span>
  <div class="noteAnimation" *ngIf="play">
    <span
      class="iconfont icon-yinle"
      *ngIf="iconCount === 1"
      [ngStyle]="{ color: '#e57373' }"
    ></span>
    <span
      class="iconfont icon-yinle1"
      *ngIf="iconCount === 2"
      [ngStyle]="{ color: '#9575cd' }"
    ></span>
    <span
      class="iconfont icon-yinfu"
      *ngIf="iconCount === 3"
      [ngStyle]="{ color: '#81c784' }"
    ></span>
    <span
      class="iconfont icon-yinfu1"
      *ngIf="iconCount === 4"
      [ngStyle]="{ color: '#64b5f6', fontSize: '20px' }"
    ></span>
    <span
      class="iconfont icon-yinfu2"
      *ngIf="iconCount === 5"
      [ngStyle]="{ color: '#ffb74d', fontSize: '20px' }"
    ></span>
    <span
      class="iconfont icon-yinfu02"
      *ngIf="iconCount === 6"
      [ngStyle]="{ color: '#4db6ac', fontSize: '20px' }"
    ></span>
  </div>
</div>

<audio
  #audio
  [src]="currentMusic.musicUrl && '/api/music/' + currentMusic.musicUrl"
  [ngStyle]="{ width: '0px', height: '0px' }"
></audio>
