<nav
  #menu_wrapper
  class="menu-wrapper"
  (mousedown)="onMousedown()"
  (mouseup)="onMouseup()"
  (mousemove)="onMousemove($event)"
>
  <button class="menu-btn" id="menu-btn" has-ripple="true">
      <span *ngIf="!showMenu" class="iconfont menuIcon" [ngClass]="{'icon-yinghua':currentSeason==='Spring','icon-icon-test':currentSeason==='Summer','icon-fengye':currentSeason==='Autumn','icon-xuehua':currentSeason==='Winter' }"></span>
      <i *ngIf="showMenu"></i>
      <i *ngIf="showMenu"></i>
      <i *ngIf="showMenu"></i>
    <span class="ripple"></span>
  </button>
  <ul class="menu" #menu>
    <li class="menuitem-wrapper">
      <div class="icon-holder">
        <a
          href="#"
          class="menu-item"
          [ngClass]="{ 'on-off-opened': this.flag.value }"
          (click)="toggleFloat()"
        >
          <span class="iconfont icon-kaiguan"></span>
        </a>
      </div>
      <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none"></circle>
      </svg>
    </li>
    <li class="menuitem-wrapper">
      <div class="icon-holder">
        <a href="#" class="menu-item" (click)="changeSeason('Spring')">
          <span class="iconfont icon-yinghua"></span>
        </a>
      </div>
      <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none"></circle>
      </svg>
    </li>
    <li class="menuitem-wrapper">
      <div class="icon-holder">
        <a href="#" class="menu-item" (click)="changeSeason('Summer')">
          <span class="iconfont icon-icon-test"></span>
        </a>
      </div>
      <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none"></circle>
      </svg>
    </li>
    <li class="menuitem-wrapper">
      <div class="icon-holder">
        <a href="#" class="menu-item" (click)="changeSeason('Autumn')">
          <span class="iconfont icon-fengye"></span>
        </a>
      </div>
      <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none"></circle>
      </svg>
    </li>
    <li class="menuitem-wrapper">
      <div class="icon-holder">
        <a href="#" class="menu-item">
          <span
            class="iconfont icon-xuehua"
            (click)="changeSeason('Winter')"
          ></span>
        </a>
      </div>
      <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none"></circle>
      </svg>
    </li>
  </ul>
</nav>
