<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="root" #root>
  <app-header></app-header>
  <div class="body">
    <div>
      <h1>Unstoppable840的小站</h1>
      <p class="wordAnime">
        <span #wordSpan></span>
      </p>
    </div>
    <ul class="itembox">
      <li><span>11你好啊啊啊</span></li>
      <li><span>2222</span></li>
      <li><span>3333</span></li>
      <li><span>4444</span></li>
    </ul>
  </div>
  <div class="footer" (click)="toContainer()">
    <span class="word">开始阅读</span>
    <span nz-icon nzType="down" nzTheme="outline"></span>
  </div>
</div>
<div class="container">
  <div class="cardContainer">
    <div class="cardContainerLeft">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
    <div class="cardContainerRight">
      <div class="card"></div>
      <div class="card"></div>
    </div>
  </div>
</div>
<div class="bottom">
  <div class="info">
    <span>
      <span nz-icon nzType="copyright" nzTheme="outline"></span>
      <span>2023-2024</span>
    </span>
    &nbsp;
    <span>
      <span nz-icon nzType="heart" nzTheme="fill"></span>
      <a [routerLink]="['/home']" style="cursor: pointer; font-weight: 800">
        Unstoppable840
      </a>
    </span>
  </div>
  <div class="info">
    <span>
      <span nz-icon nzType="eye" nzTheme="fill"></span>
      <span>31064</span>
    </span>
    &nbsp;
    <span>
      <span nz-icon nzType="like" nzTheme="outline"></span>
      <span>16425</span>
    </span>
  </div>
  <div class="power">Unstoppable840小站 | 乐于探索前端开发新技术</div>
  <a class="power" href="https://github.com/ounstoppableo/blog-system">
    Powered by BlogSystem 1.0.0.
  </a>
</div>
