<div class="root" #root [class]="(smallSize | async) ? 'smallSize' : ''">
  <div class="body" [class]="(smallSize | async) ? 'smallSize' : ''">
    <div>
      <h1 [class]="(smallSize | async) ? 'smallSize' : ''">
        Unstoppable840的小站
      </h1>
      <p class="wordAnime">
        <span #wordSpan></span>
      </p>
    </div>
    <ul
      *ngIf="folderCategory"
      class="itembox"
      [class]="(smallSize | async) ? 'smallSize' : 'normal'"
    >
      <li
        *ngFor="let item of folderCategory"
        [class]="(smallSize | async) ? 'smallSize' : ''"
        (click)="goSingleFolder(item.folderId)"
      >
        <span>{{ item.folderName }}</span>
      </li>
    </ul>
    <ul
      *ngIf="!folderCategory"
      class="itembox"
      [class]="(smallSize | async) ? 'smallSize' : 'normal'"
    >
      <div [class]="(smallSize | async) ? 'smallSize' : ''">
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{
            width: '100%',
            height: '100%',
          }"
        />
      </div>
      <div [class]="(smallSize | async) ? 'smallSize' : ''">
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{
            width: '100%',
            height: '100%',
          }"
        />
      </div>
      <div [class]="(smallSize | async) ? 'smallSize' : ''">
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{
            width: '100%',
            height: '100%',
          }"
        />
      </div>
      <div [class]="(smallSize | async) ? 'smallSize' : ''">
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{
            width: '100%',
            height: '100%',
          }"
        />
      </div>
    </ul>
  </div>
  <div class="footer" (click)="toContainer()">
    <span class="word">开始阅读</span>
    <span type="icondown" class="iconfont icon-down"></span>
  </div>
</div>
<div class="container">
  <app-container
    [isHome]="true"
    [showInfo]="!(smallSize | async)"
    [updateArticleModal]="addArticleForm"
    [isLogin]="isLogin"
    [scrollTarget]="headerChangeHeight"
  ></app-container>
</div>
<app-footer></app-footer>
<app-add-article-form #addArticleForm></app-add-article-form>
