<div class="root" #root>
  <app-header
    [showFolderIcon]="smallSize"
    [scrollTarget]="headerChangeHeight"
    (drawerOpen)="open()"
    (upload)="showUploadModal()"
  ></app-header>
  <div class="body" [class]="smallSize ? 'smallSize' : ''">
    <div>
      <h1 [class]="smallSize ? 'smallSize' : ''">Unstoppable840的小站</h1>
      <p class="wordAnime">
        <span #wordSpan></span>
      </p>
    </div>
    <ul class="itembox" [class]="smallSize ? 'smallSize' : 'normal'">
      <li
        *ngFor="let item of folderCategory"
        [class]="smallSize ? 'smallSize' : ''"
        (click)="goSingleFolder(item.folderId)"
      >
        <span>{{ item.folderName }}</span>
      </li>
    </ul>
  </div>
  <div class="footer" (click)="toContainer()">
    <span class="word">开始阅读</span>
    <span type="icondown" class="iconfont icon-down"></span>
  </div>
</div>
<div class="container">
  <app-container
    [isHome]="true"
    [updateArticleModal]="addArticleForm"
    [showInfo]="!smallSize"
    [smallSize]="smallSize"
  ></app-container>
</div>
<app-footer></app-footer>
<app-add-article-form #addArticleForm></app-add-article-form>
<app-drawer #drawer></app-drawer>
