<div class="cardContainerLeft">
  <div class="card">
    <div class="info">
      <h1>2023注册土耳其钱包</h1>
      <p class="folder">
        <span nz-icon nzType="folder" nzTheme="outline"></span>
        <span>云移民</span>
      </p>
      <p class="description">
        2023年最新，教你注册Oldubil入门级土耳其钱包，获得土耳其本地虚拟卡以及入金说明
      </p>
      <div class="footer">
        <div class="date">
          <span nz-icon nzType="calendar" nzTheme="outline"></span>
          <span>2023-9-25</span>
        </div>
        <div class="tagSpace">
          <span class="tag">手机卡</span>
          <span class="tag">手机卡</span>
        </div>
      </div>
    </div>
    <div class="img">
      <img src="/assets/background.jpg" alt="" />
    </div>
  </div>
</div>
