@import '../../../assets/mixin.scss';

.cardContainerLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
  & > .meta {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--homeMetaColor);
    & > .line {
      flex: 1;
      height: 2px;
      background-color: var(--homeMetaColor);
      border-radius: 2px;
    }
    & > .words {
      font-size: 20px;
      font-weight: 600;
    }
  }
  & > .card {
    position: relative;
    background-color: var(--cardColor);
    width: calc(80vw - 350px);
    height: 250px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    color: var(--fontColor);
    cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
      pointer;
    font-size: 15px;
    box-shadow: 0 0.625rem 1.875rem -0.9375rem rgba(0, 0, 0, 0.1);
    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    & > .meta {
      position: absolute;
    }

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
      & > .img {
        clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%);
      }
    }
    &:nth-child(2n) {
      & > .img {
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 8% 100%);
      }
    }

    &.smallSize {
      width: 90vw;
      height: 500px;
      flex-direction: column-reverse;
      transform: translateY(0);
      opacity: 1;
      &:nth-child(2n + 1) {
        & > .img {
          clip-path: none;
        }
      }
      &:nth-child(2n) {
        & > .img {
          clip-path: none;
        }
      }
    }

    & > .info {
      flex: 1;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      & > h1 {
        font-weight: 400;
        font-size: 24px;
        color: var(--fontColor);
        width: fit-content;
        @include borderAnime;
      }

      & > .folder {
        display: flex;
        gap: 5px;
        align-items: center;
        color: var(--cateColor);
        width: fit-content;
        @include borderAnime;
      }

      & > .description {
        color: var(--fontColor);
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }

      & > .footer {
        display: flex;
        justify-content: space-between;

        & > .date {
          display: flex;
          gap: 5px;
          align-items: center;
          color: var(--cateColor);
          @include borderAnime;
        }
      }
    }

    & > .img {
      flex: 1;

      &.smallSize {
        flex: 1.5;
      }

      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition:
          filter 1s ease,
          transform 0.2s ease;
      }
    }

    &:hover {
      & > .img {
        & > img {
          transform: scale(1.2);
        }
      }

      & > .operate {
        opacity: 1;
      }
    }

    & > .operate {
      position: absolute;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      width: fit-content;
      height: 100%;
      display: flex;
      gap: 5px;
      padding: 5px;
      justify-content: space-around;
      align-items: center;
      transition: all 0.3s;
    }
  }
}
:host ::ng-deep .ant-pagination {
  margin-top: 30px !important;
  text-align: center;
}
@keyframes toShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
