<div #cardContainerLeft class="cardContainerLeft" id="overview">
  <div
    class="meta"
    *ngIf="isHome && toTopOverview && articleInfoList.length !== 0"
  >
    <span class="line"></span>
    <span class="words">置顶文章</span>
    <span class="line"></span>
  </div>
  <app-overview
    *ngIf="isHome && !toTopOverview"
    [isHome]="isHome"
    [smallSize]="smallSize"
    [updateArticleModal]="updateArticleModal"
    [toTopOverview]="true"
  ></app-overview>
  <div class="meta" *ngIf="isHome && !toTopOverview" #articleListRef>
    <span class="line"></span>
    <span class="words">文章列表</span>
    <span class="line"></span>
  </div>
  <div
    class="card"
    *ngFor="let item of articleInfoList"
    [class]="smallSize ? 'smallSize' : ''"
  >
    <div class="info" (click)="toArticle(item.articleId)">
      <h1 (click)="toArticle(item.articleId)">{{ item.title }}</h1>
      <p class="folder" (click)="toFolderCate(item.folderId)">
        <span class="iconfont icon-folder"></span>
        <span>{{ item.folderName }}</span>
      </p>
      <p class="description" [title]="item.description">
        {{ item.description }}
      </p>

      <div class="footer">
        <div class="date" (click)="toDateCate(item.lastModifyTime)">
          <span class="iconfont icon-calendar"></span>
          <span>{{ item.lastModifyTime | date: 'YYYY-MM-dd' }}</span>
        </div>
        <app-tag [tagList]="item.tags"></app-tag>
      </div>
    </div>
    <div class="img" [class]="smallSize ? 'smallSize' : ''">
      <img nz-image [nzSrc]="item.backImgUrl" alt="" />
    </div>
    <div class="operate" *ngIf="isLogin">
      <button nz-button nzShape="circle" (click)="toTopArticle(item)">
        <span
          class="iconfont"
          [class]="
            item.toTop === noToTop ? ' icon-zhiding' : 'icon-quxiaozhiding'
          "
        ></span>
      </button>
      <button nz-button nzShape="circle" (click)="editArticle(item)">
        <span class="iconfont icon-edit"></span>
      </button>
      <button
        nz-button
        nzDanger
        nzShape="circle"
        (nzOnConfirm)="delArticle(item.articleId)"
        nz-popconfirm
        nzPopconfirmTitle="确定要删除吗？"
      >
        <span class="iconfont icon-delete"></span>
      </button>
    </div>
  </div>
  <app-overview-skeleton
    *ngIf="articleInfoList.length === 0 && !toTopOverview"
    [smallSize]="smallSize"
  ></app-overview-skeleton>
</div>
<nz-pagination
  class="pagination"
  *ngIf="articleInfoList.length !== 0 && !toTopOverview"
  [nzPageIndex]="page"
  [nzTotal]="total"
  [nzPageSize]="limit"
  [nzSimple]="true"
  [nzItemRender]="paginationTemp"
  (nzPageIndexChange)="pageIndexChange($event)"
></nz-pagination>

<ng-template #paginationTemp let-type>
  <ng-container [ngSwitch]="type">
    <span *ngSwitchCase="'prev'" class="iconfont icon-left1"></span>
    <span *ngSwitchCase="'next'" class="iconfont icon-right1"></span>
  </ng-container>
</ng-template>
