@import '../../../assets/mixin.scss';

.cardContainerLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &>.card {
    position: relative;
    background-color: var(--cardColor);
    width: calc(80vw - 350px);
    height: 250px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    color: var(--fontColor);
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }

    &.smallSize {
      width: 90vw;
      height: 500px;
      flex-direction: column-reverse;
    }

    &>.info {
      flex: 1;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &>h1 {
        font-weight: 400;
        font-size: 24px;
        color: var(--fontColor);
        width: fit-content;
        @include borderAnime;
      }

      &>.folder {
        display: flex;
        gap: 5px;
        align-items: center;
        color: var(--cateColor);
        width: fit-content;
        @include borderAnime;
      }

      &>.description {
        color: var(--fontColor);
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }

      &>.footer {
        display: flex;
        justify-content: space-between;

        &>.date {
          display: flex;
          gap: 5px;
          align-items: center;
          color: var(--cateColor);
          @include borderAnime;
        }
      }
    }

    &>.img {
      flex: 0.6;

      &.smallSize {
        flex: 1.5;
      }

      overflow: hidden;

      &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s ease;
      }
    }

    &:hover {
      &>.img {
        &>img {
          transform: scale(1.2);
        }
      }

      &>.operate {
        opacity: 1;
      }
    }

    &>.operate {
      position: absolute;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      width: 10%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: all 0.3s;
    }
  }

  &>.pagination {
    text-align: center;
  }
}
