@import '../../../assets/mixin.scss';

.cardContainerLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &>.card {
    background-color: #fff;
    height: 250px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    color: var(--defaultFontColor);
    font-size: 15px;

    &:nth-child(2n+1) {
      flex-direction: row-reverse;
    }

    &.smallSize {
      height: 500px;
      flex-direction: column-reverse;
    }

    &>.info {
      flex: 1;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &>h1 {
        font-weight: 400;
        font-size: 24px;
        width: fit-content;
        @include borderAnime;
      }

      &>.folder {
        display: flex;
        gap: 5px;
        align-items: center;
        color: #aaa;
        width: fit-content;
        @include borderAnime;
      }

      &>.description {
        color: var(--defaultFontColor);
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }

      &>.footer {
        display: flex;
        justify-content: space-between;

        &>.date {
          display: flex;
          gap: 5px;
          align-items: center;
          color: #aaa;
          @include borderAnime;
        }

        &>.tagSpace {
          display: flex;
          gap: 5px;
        }
      }
    }

    &>.img {
      flex: 0.6;

      &.smallSize {
        flex: 1.5;
      }

      overflow: hidden;

      &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s ease;
      }
    }

    &:hover {
      &>.img {
        &>img {
          transform: scale(1.2);
        }
      }
    }
  }
}

.tag {
  color: #666;
  background-color: #fbe4e4;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}
