<div class="container">
  <app-comment-area-skeleton *ngIf="loading"></app-comment-area-skeleton>
  <div class="header" *ngIf="!loading">
    <div class="left">{{ msgCount }}&nbsp;条评论</div>
    <div class="right">
      <span class="icon iconfont icon-reload" (click)="reload()"></span>
    </div>
  </div>
  <app-none *ngIf="msgItems.length === 0 && show"></app-none>
  <div
    class="body"
    [@toShow]="msgItems.length"
    *ngIf="msgItems.length !== 0 && show"
  >
    <app-comment-item
      *ngFor="let item of msgItems"
      [isLogin]="isLogin"
      [msgItem]="item"
      (reloadData)="reload()"
      [smallSize]="smallSize"
    ></app-comment-item>
  </div>
  <nz-pagination
    *ngIf="msgItems.length !== 0 && show"
    [nzPageIndex]="page"
    [nzPageSize]="limit"
    [nzTotal]="msgCount"
    class="pagination"
    [nzSimple]="true"
    [nzItemRender]="paginationTemp"
    (nzPageIndexChange)="pageIndexChange($event)"
  ></nz-pagination>
</div>

<ng-template #paginationTemp let-type>
  <ng-container [ngSwitch]="type">
    <div *ngSwitchCase="'prev'" class="paginationPrev"></div>
    <div *ngSwitchCase="'next'" class="paginationNext"></div>
  </ng-container>
</ng-template>
