.card {
  background-color: var(--cardColor);
  width: calc(80vw - 350px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--fontColor);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 45px;
  gap: 30px;
  line-height: 0;
  & > .item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    & > .title {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
    & > .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
    }
  }

  &.smallSize {
    width: 100vw;
  }

  & > .goPreAndNext {
    width: 100%;
    padding: 0 45px;
    font-size: 15px;

    & > .pre {
      float: left;
    }

    & > .next {
      float: right;
    }

    & > .pre,
    & > .next {
      display: flex;
      line-height: 15px;
      align-items: center;
      cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
        pointer;

      &:hover {
        text-decoration: underline;
        color: var(--styleColor);
      }
    }

    &::after,
    &::before {
      content: '';
      clear: both;
    }
  }
}
