<nz-drawer
  [nzWidth]="300"
  [nzClosable]="false"
  [nzVisible]="drawerVisible"
  nzPlacement="right"
  (nzOnClose)="close()"
  *ngIf="smallSize && drawerVisible"
>
  <ng-container *nzDrawerContent>
    <app-userinfo [smallSize]="true"></app-userinfo>
    <ul class="tablist">
      <li (click)="goHome()">
        <span class="iconfont icon-homefill"></span>
        首页
      </li>
      <li (click)="goSearch()">
        <span class="iconfont icon-search"></span>
        搜索
      </li>
      <li (click)="goMsgBoard()">
        <span class="iconfont icon-form"></span>
        留言板
      </li>
      <li (click)="show(list, icon)">
        <div>
          <span class="iconfont icon-container-fill"></span>
          <span>往期整理</span>
          <span #icon type="icondown" class="iconfont icon-down"></span>
        </div>
        <ul class="list" #list>
          <li (click)="goDateCate()">
            <span class="iconfont icon-time-history"></span>
            <span>历史归档</span>
          </li>
          <li (click)="goFolderCate()">
            <span class="iconfont icon-appstore"></span>
            <span>文章分类</span>
          </li>
          <li (click)="goTagCate()">
            <span class="iconfont icon-tags"></span>
            <span>文章标签</span>
          </li>
        </ul>
      </li>
      <li (click)="show(list2, icon2)">
        <div>
          <span class="iconfont icon-yule"></span>
          <span>拓展功能</span>
          <span #icon2 type="icondown" class="iconfont icon-down"></span>
        </div>
        <ul class="list" #list2>
          <li (click)="goChatPlatform()">
            <span class="iconfont icon-scene"></span>
            <span>聊天室</span>
          </li>
        </ul>
      </li>
    </ul>
  </ng-container>
</nz-drawer>
