<div class="newMsgBoard" *ngIf="articleList.length !== 0">
  <div class="title" id="newMsgtitleRef">
    <span class="iconfont icon-message" style="font-size: 30px"></span>
    <span>随机文章</span>
  </div>
  <div class="msgContainer">
    <div class="msgItem" *ngFor="let item of articleList; let i = index">
      <div class="seq">{{ i + 1 }}</div>
      <div class="content">
        <div class="nameSpace">
          <div class="name">
            <a [href]="'/folderPage/' + item.folderId">{{ item.folderName }}</a>
            &nbsp;>
            <span *ngFor="let tag of item.tags; let i = index">
              &nbsp;
              <a [href]="'/tagPage/' + tag.tagName">{{ tag.tagName }}</a>
              &nbsp;
              <span *ngIf="i !== item.tags.length - 1">></span>
            </span>
          </div>
        </div>
        <div class="msgContent">
          <a [href]="'/article/' + item.articleId">{{ item.title }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-msg-and-article-board-skeleton
  *ngIf="articleList.length === 0"
  [title]="'随机文章'"
  [limit]="limit"
></app-msg-and-article-board-skeleton>
