<div
  class="card"
  [class]="(smallSize | async) ? 'smallSize' : ''"
  *ngIf="!loading"
>
  <div class="none" *ngIf="dateCategory.length === 0">
    <app-none></app-none>
  </div>
  <div class="has" *ngIf="dateCategory.length !== 0">
    <div
      class="dateSpace"
      *ngFor="let item of dateCategory"
      [id]="item.dateCate"
    >
      <div class="date">{{ item.dateCate }}</div>
      <div class="articleSpace" [@toShow]="item.articleInfos.length">
        <div class="item" *ngFor="let articleInfo of item.articleInfos">
          <span class="day">{{ articleInfo.lastModifyTime.slice(0, 10) }}</span>
          &nbsp;&nbsp;
          <span class="title" (click)="toArticle(articleInfo.articleId)">
            {{ articleInfo.title }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-cate-by-date-skeleton *ngIf="loading"></app-cate-by-date-skeleton>
