<div class="card" [class]="smallSize ? 'smallSize' : ''">
  <div class="none">
    <app-none *ngIf="false"></app-none>
  </div>
  <div class="has">
    <div class="dateSpace">
      <div class="date">2023-09</div>
      <div class="articleSpace">
        <div class="item">
          <span class="day">2023-09-16</span>
          &nbsp;&nbsp;
          <span class="title">2023注册Oldubil土耳其钱包</span>
        </div>
        <div class="item">
          <span class="day">2023-09-16</span>
          &nbsp;&nbsp;
          <span class="title">2023注册Oldubil土耳其钱包</span>
        </div>
        <div class="item">
          <span class="day">2023-09-16</span>
          &nbsp;&nbsp;
          <span class="title">2023注册Oldubil土耳其钱包</span>
        </div>
      </div>
    </div>
    <div class="dateSpace">
      <div class="date">2023-09</div>
      <div class="articleSpace">
        <div class="item">
          <span class="day">2023-09-16</span>
          &nbsp;&nbsp;
          <span class="title">2023注册Oldubil土耳其钱包</span>
        </div>
        <div class="item">
          <span class="day">2023-09-16</span>
          &nbsp;&nbsp;
          <span class="title">2023注册Oldubil土耳其钱包</span>
        </div>
        <div class="item">
          <span class="day">2023-09-16</span>
          &nbsp;&nbsp;
          <span class="title">2023注册Oldubil土耳其钱包</span>
        </div>
      </div>
    </div>
  </div>
</div>
