.container {
  & > .has {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > .item {
      height: 60px;
      display: flex;
      gap: 10px;
      align-items: center;

      & > .img {
        width: 60px;
        height: 100%;
        object-fit: cover;
      }

      & > .text {
        flex: 1;
        display: flex;
        flex-direction: column;

        & > .theme {
          width: fit-content;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          white-space: nowrap;
          cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
            pointer;
          position: relative;
        }

        & > .date {
          color: var(--cateColor);
          cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
            pointer;
        }
      }
    }
  }
}
