<div class="writeSpace">
  <form nz-form [nzLayout]="'inline'" [formGroup]="msgBoardData" class="form">
    <div row [class]="smallSize ? 'smallSize' : ''">
      <nz-form-item>
        <nz-form-control
          [nzValidateStatus]="
            name!.valid ? 'success' : name!.touched ? 'error' : ''
          "
        >
          <nz-input-group [nzPrefix]="userIcon">
            <input
              formControlName="name"
              nz-input
              type="text"
              placeholder="请输入昵称"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          [nzValidateStatus]="
            mail!.valid ? 'success' : mail!.touched ? 'error' : ''
          "
        >
          <nz-input-group [nzPrefix]="mailIcon">
            <input
              formControlName="mail"
              nz-input
              type="text"
              placeholder="请输入邮箱"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="globalIcon">
            <input
              formControlName="website"
              nz-input
              type="text"
              placeholder="请输入网址(可选)"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-control
          nzHasFeedback
          [nzValidateStatus]="
            content!.valid ? 'success' : content!.touched ? 'error' : ''
          "
        >
          <nz-textarea-count [nzMaxCharacterCount]="500">
            <textarea formControlName="content" nz-input rows="4"></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div footer>
      <nz-form-item>
        <span class="iconfont icon-picture"></span>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="sendMsg()">发送</button>
      </nz-form-item>
    </div>
  </form>
</div>

<ng-template #userIcon>
  <span class="iconfont icon-custom-user"></span>
</ng-template>
<ng-template #mailIcon><span class="iconfont icon-mail"></span></ng-template>
<ng-template #globalIcon>
  <span class="iconfont icon-global"></span>
</ng-template>
