<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="writeSpace">
  <div class="avatar"><img src="../../../assets/user.png" alt="" /></div>
  <form nz-form [nzLayout]="'inline'" [formGroup]="msgBoardData" class="form">
    <div row>
      <nz-form-item>
        <nz-form-control
          [nzValidateStatus]="
            name!.valid ? 'success' : name!.touched ? 'error' : ''
          "
        >
          <nz-input-group nzPrefixIcon="user">
            <input
              formControlName="name"
              nz-input
              type="text"
              placeholder="请输入昵称"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          [nzValidateStatus]="
            mail!.valid ? 'success' : mail!.touched ? 'error' : ''
          "
        >
          <nz-input-group nzPrefixIcon="mail">
            <input
              formControlName="mail"
              nz-input
              type="text"
              placeholder="请输入邮箱"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="global">
            <input
              formControlName="website"
              nz-input
              type="text"
              placeholder="请输入网址"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-control
          nzHasFeedback
          [nzValidateStatus]="
            content!.valid ? 'success' : content!.touched ? 'error' : ''
          "
        >
          <nz-textarea-count [nzMaxCharacterCount]="500">
            <textarea formControlName="content" nz-input rows="4"></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div footer>
      <nz-form-item>
        <span nz-icon nzType="picture" nzTheme="outline"></span>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="sendMsg()">发送</button>
      </nz-form-item>
    </div>
  </form>
</div>
