<div class="card" [class]="smallSize ? 'smallSize' : ''" *ngIf="!loading">
  <app-none *ngIf="!article"></app-none>
  <div *ngIf="article" id="write"></div>
  <div class="goPreAndNext" *ngIf="pre || next">
    <div class="pre" *ngIf="pre" (click)="toArticle(pre)">
      <span class="iconfont icon-left"></span>
      &nbsp;
      <span>{{ preTitle }}</span>
    </div>
    <div class="next" *ngIf="next" (click)="toArticle(next)">
      <span>{{ nextTitle }}</span>
      &nbsp;
      <span class="iconfont icon-right"></span>
    </div>
  </div>
  <app-msg-board
    *ngIf="article"
    [articleId]="articleId"
    [smallSize]="smallSize"
  ></app-msg-board>
</div>
<app-article-content-skeleton
  *ngIf="loading"
  [smallSize]="smallSize"
></app-article-content-skeleton>
