.card {
  background-color: var(--cardColor);
  width: calc(80vw - 350px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--fontColor);
  align-items: center;
  box-shadow: 0 0.625rem 1.875rem -0.9375rem var(--01-gray);

  &.smallSize {
    width: 100vw;
  }
}
