.card {
  background-color: var(--cardColor);
  width: calc(80vw - 350px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--fontColor);
  align-items: center;
  box-shadow: var(--cardBoxShadow);

  &.smallSize {
    width: 95vw;
  }
}
