<app-header
  *ngIf="showHeader"
  [defaultShow]="defaultShow"
  [scrollTarget]="headerChangeHeight"
  (drawerOpen)="drawerOpen()"
  (upload)="showUploadModal()"
></app-header>
<router-outlet></router-outlet>
<div id="operate" *ngIf="!is404Page">
  <button
    class="btn"
    *ngIf="isArticle && (smallSize | async)"
    (click)="openCatalogue()"
  >
    <span class="iconfont icon-mulu"></span>
  </button>
  <button class="btn" (click)="changeDarkMode()">
    <span
      [class]="darkMode ? 'iconfont icon-sun' : 'iconfont icon-moon'"
    ></span>
  </button>
  <button class="btn" *ngIf="isArticle" (click)="toCommentArea()">
    <span class="iconfont icon-comment"></span>
  </button>
  <button class="btn" (click)="toTop()">
    <span class="iconfont icon-Arrows_Arrow_Up"></span>
  </button>
  <button class="btn" (click)="subscribe()">
    <span class="iconfont icon-dingyue"></span>
  </button>
</div>
<ng-container #vc *ngIf="!is404Page"></ng-container>
<app-music-player *ngIf="!is404Page"></app-music-player>
<ng-template #catalogueTemp>
  <div class="catalogue">
    <p>
      <span class="iconfont icon-mulu" [style]="{ fontSize: '30px' }"></span>
      <span>目录</span>
    </p>
    <div class="container">
      <div class="has">
        <nz-anchor
          [nzAffix]="false"
          [nzShowInkInFixed]="true"
          [nzContainer]="'#write'"
          (nzClick)="handleCatalogueClick($event)"
        >
          <app-catalogue [catalogue]="catalogue"></app-catalogue>
        </nz-anchor>
      </div>
    </div>
  </div>
</ng-template>
<app-drawer #drawer *ngIf="smallSize && !is404Page"></app-drawer>
<app-add-article-form #addArticleForm *ngIf="!is404Page"></app-add-article-form>
