<router-outlet></router-outlet>
<div id="operate">
  <button class="btn" (click)="changeDarkMode()">
    <span
      [class]="darkMode ? 'iconfont icon-sun' : 'iconfont icon-moon'"
    ></span>
  </button>
  <button class="btn" *ngIf="isArticle" (click)="toCommentArea()">
    <span class="iconfont icon-comment"></span>
  </button>
  <button class="btn" (click)="toTop()">
    <span class="iconfont icon-Arrows_Arrow_Up"></span>
  </button>
  <button class="btn" (click)="subscribe()">
    <span class="iconfont icon-dingyue"></span>
  </button>
</div>
<ng-container #vc></ng-container>
<app-music-player></app-music-player>
