.tagSpace {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  & > .tag {
    color: #666;
    background-color: #fbe4e4;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
  }
}
