<div
  class="tagSpace"
  [class]="{ showTagsCloud: showTagsCloud }"
  [style]="{ gap: gap + 'px' }"
  #tagSpace
>
  <span
    class="tag"
    [class]="{ showTagsCloud: showTagsCloud }"
    *ngFor="let tag of tagList"
    [ngStyle]="{ 'background-color': tag.tagColor }"
    (click)="toSingleTag($event, tag.tagName)"
    #tags
  >
    <span
      class="iconfont icon-tag"
      style="font-size: 12px; font-weight: 500"
    ></span>
    {{ tag.showWord || tag.tagName }}
  </span>
</div>
