.tagSpace {
  display: flex;
  flex-wrap: wrap;
  &.showTagsCloud {
    position: relative;
    height: 300px;
  }

  & > .tag {
    &.showTagsCloud {
      position: absolute;
    }

    top: 0;
    left: 0;
    color: var(--tagWord);
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px;
    cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@vlatest/assets/cola.ico),
      pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--styleColor) !important;
      color: var(--tagHover);
    }
  }
}
