<app-header
  [defaultShow]="true"
  [showFolderIcon]="smallSize"
  [scrollTarget]="headerChangeHeight"
  (drawerOpen)="open()"
  (upload)="showUploadModal()"
  (loginCheck)="loginCheck()"
></app-header>
<div class="body">
  <app-container
    [isMsgBoard]="true"
    [msgboard]="true"
    [isLogin]="isLogin"
    [showInfo]="!smallSize"
    [smallSize]="smallSize"
    [updateArticleModal]="addArticleForm"
    [scrollTarget]="headerChangeHeight"
  ></app-container>
</div>
<app-info [showInfo]="smallSize" [smallSize]="true"></app-info>
<app-add-article-form #addArticleForm></app-add-article-form>
<app-drawer #drawer [smallSize]="smallSize"></app-drawer>
<app-footer></app-footer>
