<div class="body">
  <app-container
    [search]="search"
    [folderCate]="category"
    [dateCate]="dateCate"
    [tagCate]="tagCate"
    [tagPage]="tagPage"
    [showInfo]="!(smallSize | async)"
    [folderPage]="folderPage"
    [updateArticleModal]="addArticleForm"
    [dontShowGpuRenderComponent]="isLeave"
    [scrollTarget]="headerChangeHeight"
    (scrollToAnchor)="scrollToAnchor()"
  ></app-container>
</div>
<app-info
  [showInfo]="!!(smallSize | async)"
  [dontShowGpuRenderComponent]="isLeave"
></app-info>
<app-add-article-form #addArticleForm></app-add-article-form>
<app-footer></app-footer>
