<app-header
  [defaultShow]="true"
  [showFolderIcon]="smallSize"
  [scrollTarget]="headerChangeHeight"
  (drawerOpen)="open()"
  (upload)="showUploadModal()"
></app-header>
<div class="body">
  <app-container
    [search]="search"
    [folderCate]="category"
    [dateCate]="dateCate"
    [tagCate]="tagCate"
    [tagPage]="tagPage"
    [folderPage]="folderPage"
    [showInfo]="!smallSize"
    [smallSize]="smallSize"
    [updateArticleModal]="addArticleForm"
  ></app-container>
</div>
<app-info [showInfo]="smallSize" [smallSize]="true"></app-info>
<app-add-article-form #addArticleForm></app-add-article-form>
<app-drawer #drawer></app-drawer>
<app-footer></app-footer>
