<div class="container" [class]="(smallSize | async) ? 'smallSize' : ''">
  <div class="card">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="请输入文章名称~~"
        [(ngModel)]="searchText"
        (ngModelChange)="search()"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span class="iconfont icon-search" style="color: var(--fontColor)"></span>
    </ng-template>
  </div>
  <div class="footer">
    <app-folder-cate
      *ngIf="articleInfoList.length === 0"
      [showMsgAndArticle]="false"
    ></app-folder-cate>
    <app-cate-by-tag
      *ngIf="articleInfoList.length === 0"
      [showMsgAndArticle]="false"
    ></app-cate-by-tag>
    <app-overview
      *ngIf="articleInfoList.length !== 0"
      [articleInfoList]="articleInfoList"
      [updateArticleModal]="updateArticleModal"
      [page]="page"
      [limit]="limit"
      [total]="total"
      (nextPage)="nextPage($event)"
    ></app-overview>
  </div>
</div>
<app-book-display *ngIf="!dontShowGpuRenderComponent"></app-book-display>
<app-random-article-and-new-msg
  *ngIf="!(smallSize | async)"
  [limit]="10"
></app-random-article-and-new-msg>
