.container {
  display: flex;
  gap: 10px;
  position: relative;

  & > .unAudit {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 20%;
    transform: rotate(-30deg);
    background: url(/assets/unAudit.png) no-repeat;
    background-size: contain;
  }
  & > .avatar {
    width: 40px;
    height: 40px;

    & > img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      object-fit: cover;
    }
  }

  & > .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > .info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        & > .name {
          font-size: 16px;
          line-height: 16px;
          word-break: break-all;

          & > a {
            color: var(--aColor);

            &:hover {
              color: var(--styleColor);
            }
          }
        }
        & > .tag {
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          width: fit-content;
          & > .admin {
            align-self: flex-start;
            border: 1px solid var(--yellowTagBorder);
            background-color: var(--yellowTagBg);
            color: var(--yellowTagWord);
            padding: 0px 5px;
            border-radius: 5px;
            text-wrap: nowrap;
          }
          & > .toTop {
            align-self: flex-start;
            border: 1px solid var(--pinkTagBorder);
            background-color: var(--pinkTagBg);
            color: var(--pinkTagWord);
            padding: 0px 5px;
            border-radius: 5px;
            text-wrap: nowrap;
          }
        }

        & > .date {
          font-size: 16px;
          line-height: 16px;
          color: var(--cateColor);
          display: flex;
          align-items: center;
        }
      }

      & > .operate {
        align-self: flex-start;
        display: flex;
        gap: 5px;

        & > [nz-button] {
          position: relative;
          background: none;
          border: none;
          box-shadow: none;
          color: var(--primary);
          height: fit-content;
          padding: 0;
          & > .count {
            position: absolute;
            font-size: 12px;
            right: 2px;
            top: -8px;
          }
        }
      }
    }

    & > .msg {
      font-size: 16px;
      line-height: 16px;
      color: var(--fontColor);
      display: flex;
      flex-direction: column;
      gap: 8px;

      & > .reply {
        font-size: 14px;
        line-height: 14px;

        & > a {
          color: var(--aColor);

          &:hover {
            color: var(--styleColor);
          }
        }
      }
    }

    & > .footer {
      display: flex;
      gap: 10px;
      color: var(--cateColor);
      font-size: 14px;
      line-height: 14px;

      & > .device {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      & > .browser {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    & > .showChirdren {
      margin: 0 auto;
      color: var(--cateColor);
      cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@vlatest/assets/cola.ico),
        pointer;
    }

    & > .chirdenMsg {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
