<div class="container" [@toShow]="showComponent ? 'show' : 'unshow'">
  <div class="avatar"><img [src]="'/api' + msgItem.avatar" alt="" /></div>
  <div class="content">
    <div class="header">
      <div class="info">
        <div class="name">
          <a [href]="msgItem.website" *ngIf="msgItem.website">
            {{ msgItem.name }}
          </a>
          <span *ngIf="!msgItem.website">{{ msgItem.name }}</span>
        </div>
        <div class="date">{{ msgItem.subTime | date }}</div>
      </div>
      <div class="operate">
        <button
          #upvokeButton
          nz-button
          nzShape="circle"
          (click)="upvoke(msgItem)"
        >
          <span class="count" *ngIf="msgItem.upvoke > 0">
            {{ msgItem.upvoke > 99 ? '99+' : msgItem.upvoke }}
          </span>
          <span
            nz-icon
            nzType="like"
            [nzTheme]="msgItem.upvokeChecked ? 'fill' : 'outline'"
          ></span>
        </button>
        <button nz-button nzShape="circle" (click)="toShowForm()">
          <span nz-icon nzType="message" nzTheme="outline"></span>
        </button>
      </div>
    </div>
    <div class="msg">
      <div class="reply" *ngIf="msgItem.parent">
        回复&nbsp;
        <a [href]="msgItem.parent!.parentWebsite">
          @{{ msgItem.parent!.parentName }}
        </a>
        ：
      </div>
      <div class="msgcontent" [class]="msgItem.parent ? 'reply' : ''">
        {{ msgItem.content }}
      </div>
    </div>
    <div class="footer">
      <div class="device">
        <span
          nz-icon
          [nzType]="
            msgItem.device.toLowerCase().includes('window')
              ? 'windows'
              : msgItem.device.toLowerCase().includes('android')
              ? 'android'
              : msgItem.device.toLowerCase().includes('apple')
              ? 'apple'
              : 'question-circle'
          "
          nzTheme="outline"
        ></span>
        <span>{{ msgItem.device }}</span>
      </div>
      <div class="browser">
        <span
          nz-icon
          [nzType]="
            msgItem.browser.toLowerCase().includes('chrome')
              ? 'chrome'
              : msgItem.browser.toLowerCase().includes('edg')
              ? 'ie'
              : 'question-circle'
          "
          nzTheme="outline"
        ></span>
        <span>{{ msgItem.browser }}</span>
      </div>
    </div>
    <app-add-msg-form
      *ngIf="showForm"
      [articleId]="msgItem.articleId || ''"
      [fatherMsgId]="msgItem.msgId"
      (reloadMsg)="toReloadData()"
      [smallSize]="smallSize"
    ></app-add-msg-form>
    <div class="chirdenMsg" *ngIf="showChirdren" [@toShow]="children!.length">
      <app-comment-item
        *ngFor="let item of children"
        [msgItem]="item"
        (reloadData)="toReloadData()"
        [smallSize]="smallSize"
      ></app-comment-item>
    </div>
    <div
      class="showChirdren"
      *ngIf="children.length !== 0"
      (click)="toShowChildren()"
    >
      {{ this.showChirdren ? '合并' : '展开' }}&nbsp;{{
        children.length
      }}&nbsp;条评论
      <span
        nz-icon
        [nzType]="this.showChirdren ? 'up' : 'down'"
        nzTheme="outline"
      ></span>
    </div>
  </div>
</div>
