@import '../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';
@import '../node_modules/highlight.js/scss/atom-one-dark-reasonable.scss';

@font-face {
  font-family: 'Fredoka';
  src:
    url('/assets/font/FredokaOne-Regular.otf') format('opentype'),
    url('/assets/font/FredokaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bailutongtongshouxieti';
  src: url('/assets/font/bailutongtongshouxieti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lipinhuiziyoulixiangti';
  src: url('/assets/font/lipinhuiziyoulixiangti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* You can add global styles to this file, and also import other style files */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/umaro.ico),
    default;
}

::selection {
  background-color: var(--styleColor) !important; /* 自定义背景色 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  &:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
      pointer !important;
  }
}

body {
  font-size: 16px;
  color: var(--fontColor);
  color: #232323;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  background: var(--defaultBackgroundColor) !important;
  font-family: 'lipinhuiziyoulixiangti' !important;
}

.snowfall-flakes {
  animation: sakura 1s linear 0s infinite;
}

@keyframes sakura {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  25% {
    transform: rotate3d(1, 1, 0, 60deg);
  }

  50% {
    transform: rotate3d(1, 1, 0, 0deg);
  }

  75% {
    transform: rotate3d(1, 0, 0, 60deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

input,
textarea {
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  font-size: 12px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='text'],
button {
  background-color: transparent;
  border: 0;
  outline: null;
}
button {
  cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
    pointer !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
body,
div,
em,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
label,
li,
menu,
nav,
p,
section,
span,
strong,
ul {
  margin: 0;
  padding: 0;
  border: none;
  word-wrap: break-word;
  list-style: none;
}

li,
ol,
ul {
  list-style: none;
}

img {
  border: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;

  &:hover {
    color: var(--styleColor) !important;
  }
}

/*左右浮动（class名根据自己习惯定义）*/
.lt {
  float: left;
}

.rt {
  float: right;
}

/*清除浮动1*/
.clear {
  clear: both;
}

/*清除浮动2*/
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

/*input placeholder字体颜色*/
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

//滚动条样式
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px var(--02-gray);
  background: var(--styleColor);
  cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
    pointer !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px var(--02-gray);
  border-radius: 10px;
  background: #ededed;
  cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
    pointer !important;
}

//css全局变量
:root {
  --bodyHeight: 0px;
  --bodyHeightForInvariant: 0px;
  //底部高度
  --bottomHeight: 150px;
  //顶部高度
  --headerHeigth: 56px;
  //文章背景墙高度
  --articleBkImgHeight: 380px;
  //风格颜色
  --styleColor: #928cee;
  --styleLightColor: #c5c2eb;
  --styleColorAlpha: rgba(146, 140, 238, 0.3);
  //登录字体颜色
  --loginFontColor: #00d3f7;
  //底部距离内容的距离
  --distToFooter: 30px;

  //头部颜色
  --headerColor: #fafafa;
  --listHoverColor: #a5b4fc;

  //默认背景颜色
  --defaultBackgroundColor: #fdfdfd;
  //卡片颜色
  --cardColor: #fdfdfd;
  //底部背景颜色
  --footerBkColor: #e5e5e5;

  //全局字体颜色
  --fontColor: #4b5563;
  //分类链接字体颜色
  --cateColor: #9ca3af;
  //管理员姓名字体颜色
  --userNameFontColor: #000;

  //页面定位按钮背景颜色
  --fixedBtnBkColor: #6366f1;
  //页面定位按钮字体颜色
  --fixedBtnFontColor: white;

  //音乐播放器背景颜色
  --musicPlayerBgColor: rgba(238, 243, 247, 0.7);
  //音乐进度条的长度
  --progressWidth: 0;

  //copyright字体颜色
  --copyrightBg: #f7f7f7;
  --copyrightColor: #666666;

  //文章读完meta
  --metaColor: #eff2f3;
  --readDoneColor: #b4b4b4;

  //首页metacolor
  --homeMetaColor: var(--c-gray);

  //文章网格色
  --articleMesh: linear-gradient(90deg, rgba(50, 0, 0, 0.07) 3%, transparent 0),
    linear-gradient(1turn, rgba(50, 0, 0, 0.07) 3%, transparent 0);

  //最新消息颜色
  --ramdonArticleAndNewMsg: #999;
  --ramdonArticleAndNewMsgSeq: var(--c-gray);

  //按钮颜色
  --primary: var(--styleColor);

  //a链接颜色
  --aColor: #2f5cdb;

  //标签颜色
  --yellowTagBorder: #ffe58f;
  --yellowTagBg: #fffbe6;
  --yellowTagWord: #d48806;
  --pinkTagBorder: #ffa9b6;
  --pinkTagBg: #fee2e7;
  --pinkTagWord: #e9546b;

  //nz相关color
  --antdBtnOrangeolor: #ff9501;

  //文章风格相关color
  --markdownTagBg: #e0e7ff;
  --markdownPreWord: #abb2bf;
  --markdownPreBg: #282c34;
  --markdownBlockquoteBorder: #818cf8;
  --markdownBlockquoteBg: #e0e7ff;
  --markdownBlockquoteWord: #6366f1;
  --markdownTitleBorder: #eaecef;
  --markdownTrColor: #f6f8fa;
  --markdownTrColorBorder: #c6cbd1;
  --markdownThColorBorder: #dfe2e5;

  //musicColor
  --musicWord: #acb8cc;
  --musicBtnHover: #532ab9;
  --musicName: #71829e;
  --musicAuthor: #96a3b9;
  --musicTotalTime: #b0baca;
  --musicProgressBg: #d0d8e6;
  --musicIcon: #ea3e3c;

  //tag
  --tagWord: #4b5563;
  --tagHover: white;

  --white: white;
  --catagoryLiHoverWord: var(--fontColor);
  --catagoryLiHoverBorder: var(--c-gray);

  //透明灰度
  --01-gray: rgba(0, 0, 0, 0.1);
  --015-gray: rgba(0, 0, 0, 0.15);
  --02-gray: rgba(0, 0, 0, 0.2);
  --03-gray: rgba(0, 0, 0, 0.3);
  --05-gray: rgba(0, 0, 0, 0.5);
  --c-gray: #ccc;

  //订阅框
  --color-first: #65587f;
  --color-second: #f18867;
  --color-third: #e85f99;
  --color-forth: #50bda1;
  --border-width: 0.625rem;
  --border-radius-outer: 8px;
  --border-radius-inner: calc(var(--border-radius-outer) / 2);
  --font-plain: 'IBM Plex Sans', sans-serif;
  // --font-special: ;
}

.customModal {
  & .ant-modal-content {
    background: transparent;
  }
  & .ant-modal-body {
    padding: 0;
  }
}
.customModal_catalogue {
  & .ant-modal-content {
    background: var(--cardColor);
    border-radius: 20px;
  }
  & .ant-modal-body {
    padding: 0;
  }
}
