@import '../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';
@import '../node_modules/highlight.js/scss/atom-one-dark-reasonable.scss';

/* You can add global styles to this file, and also import other style files */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/umaro.ico),
    default;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  &:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
      pointer !important;
  }
}

body {
  font-size: 16px;
  color: var(--fontColor);
  color: #232323;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  background: var(--defaultBackgroundColor) !important;
}

.snowfall-flakes {
  animation: sakura 1s linear 0s infinite;
}

@keyframes sakura {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  25% {
    transform: rotate3d(1, 1, 0, 60deg);
  }

  50% {
    transform: rotate3d(1, 1, 0, 0deg);
  }

  75% {
    transform: rotate3d(1, 0, 0, 60deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

input,
textarea {
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  font-size: 12px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='text'],
button {
  background-color: transparent;
  border: 0;
  outline: null;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
body,
div,
em,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
label,
li,
menu,
nav,
p,
section,
span,
strong,
ul {
  margin: 0;
  padding: 0;
  border: none;
  word-wrap: break-word;
  list-style: none;
}

li,
ol,
ul {
  list-style: none;
}

img {
  border: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;

  &:hover {
    color: var(--styleColor) !important;
  }
}

/*左右浮动（class名根据自己习惯定义）*/
.lt {
  float: left;
}

.rt {
  float: right;
}

/*清除浮动1*/
.clear {
  clear: both;
}

/*清除浮动2*/
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

/*input placeholder字体颜色*/
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

//滚动条样式
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: var(--styleColor);
  cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
    pointer !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
  cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
    pointer !important;
}

//css全局变量
:root {
  --bodyHeight: 0px;
  --bodyHeightForInvariant: 0px;
  //底部高度
  --bottomHeight: 150px;
  //顶部高度
  --headerHeigth: 56px;
  //文章背景墙高度
  --articleBkImgHeight: 380px;
  //风格颜色
  --styleColor: #928cee;
  //登录字体颜色
  --loginFontColor: #00d3f7;
  //底部距离内容的距离
  --distToFooter: 30px;

  //默认背景颜色
  --defaultBackgroundColor: #f7f7f7;
  //卡片颜色
  --cardColor: #fff;
  //底部背景颜色
  --footerBkColor: #e5e5e5;

  //全局字体颜色
  --fontColor: #4b5563;
  //分类链接字体颜色
  --cateColor: #9ca3af;
  //管理员姓名字体颜色
  --userNameFontColor: #000;

  //页面定位按钮背景颜色
  --fixedBtnBkColor: #6366f1;
  //页面定位按钮字体颜色
  --fixedBtnFontColor: white;

  //音乐播放器背景颜色
  --musicPlayerBgColor: #eef3f7;
  //音乐进度条的长度
  --progressWidth: 0;

  //copyright字体颜色
  --copyrightBg: #f7f7f7;
  --copyrightColor: #666666;

  //文章读完meta
  --metaColor: #eff2f3;
  --readDoneColor: #b4b4b4;

  //文章网格色
  --articleMesh: linear-gradient(90deg, rgba(50, 0, 0, 0.07) 3%, transparent 0),
    linear-gradient(1turn, rgba(50, 0, 0, 0.07) 3%, transparent 0);
}
