@import '../node_modules/ng-zorro-antd/input/style/index.css';
@import '../node_modules/ng-zorro-antd/form/style/index.css';

.ant-input-textarea-show-count::after {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.ant-form-item {
  &:last-child {
    margin-right: 0;
  }
}

.ant-pagination-item-active {
  border-color: var(--styleColor);

  & > a {
    color: var(--styleColor);
  }

  &:hover {
    border-color: var(--styleColor);

    & > a {
      color: var(--styleColor);
    }
  }
}

.ant-pagination-item {
  &:hover {
    border-color: var(--styleColor);

    & > a {
      color: var(--styleColor);
    }
  }
}

.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link {
  &:hover {
    border-color: var(--styleColor);

    & > .anticon {
      color: var(--styleColor);
    }
  }
}
