.container {
  & > .backImg {
    width: 100%;
    height: var(--articleBkImgHeight);
    position: relative;

    .mask {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .title {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      width: 100%;
      height: 100%;
      color: white;
      font-size: 14px;
      gap: 20px;

      & > .belongFile {
        border: 1px solid white;
        padding: 5px;
        border-radius: 3px;
        text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
        cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@v1.1.1/assets/cola.ico),
          pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      & > .headLine {
        font-weight: 800;
        font-size: 50px;
        text-align: center;
        text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
      }
      & > .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
      }

      & > .tagSpace {
        display: flex;
        gap: 10px;
      }
    }
  }

  & > .context {
    padding-top: 30px;
  }
}
