<div class="container">
  <div class="backImg" #backImg id="articleBackGroundImg">
    <div class="mask"></div>
    <img alt="" [src]="articleInfo.backImgUrl" />
    <div class="title">
      <span
        class="belongFile"
        *ngIf="articleInfo.folderId"
        (click)="toBelongFile(articleInfo.folderId)"
      >
        {{ articleInfo.folderName }}
      </span>
      <span
        class="belongFile"
        [style]="{ width: '60px', height: '35px', border: 'none' }"
        *ngIf="!articleInfo.folderId"
      >
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{ display: 'inline-block', width: '100%', height: '100%' }"
        ></ngx-skeleton-loader>
      </span>
      <div class="headLine" *ngIf="articleInfo.title">
        {{ articleInfo.title }}
      </div>
      <div
        class="headLine"
        *ngIf="!articleInfo.title"
        [style]="{ width: '250px', height: '75px' }"
      >
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{ display: 'inline-block', width: '100%', height: '100%' }"
        ></ngx-skeleton-loader>
      </div>
      <div class="info" *ngIf="articleInfo.subTime">
        <div class="row">
          <span>
            <span class="iconfont icon-time"></span>
            发表于&nbsp;{{ articleInfo.subTime | date: 'YYYY-MM-dd' }}
          </span>
          <span>
            <span class="iconfont icon-update1"></span>
            更新于&nbsp;{{ articleInfo.lastModifyTime | date: 'YYYY-MM-dd' }}
          </span>
          <span>
            <span class="iconfont icon-eye-fill"></span>
            阅读数&nbsp;{{ articleInfo.VT | numberTrans }}
          </span>
        </div>
        <div class="row">
          <span>
            <span class="iconfont icon-word"></span>
            字数总计&nbsp;{{ articleInfo.wordsCount }}
          </span>
          <span>
            <span class="iconfont icon-time1"></span>
            阅读时长&nbsp;{{ articleInfo.readTime }}
          </span>
        </div>
      </div>
      <div
        *ngIf="!articleInfo.subTime"
        [style]="{ width: '350px', height: '25px' }"
      >
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{ display: 'inline-block', width: '100%', height: '100%' }"
        ></ngx-skeleton-loader>
      </div>
      <app-tag [tagList]="articleInfo.tags" *ngIf="articleInfo.tags"></app-tag>
      <div
        [style]="{ width: '100px', height: '25px' }"
        *ngIf="!articleInfo.tags"
      >
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{ display: 'inline-block', width: '100%', height: '100%' }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <div class="context">
    <app-container
      [isArticle]="true"
      [showInfo]="!(smallSize | async)"
      [isLogin]="isLogin"
      [scrollTarget]="headerChangeHeight"
      (getWordsCountAndReadTime)="getWordsCountAndReadTime($event)"
    ></app-container>
  </div>
</div>
<app-footer></app-footer>
