<app-header [scrollTarget]="headerChangeHeight"></app-header>
<div class="container">
  <div class="backImg" #backImg>
    <div class="mask"></div>
    <img alt="" src="/background.jpg" />
    <div class="title">
      <span class="belongFile">云移民</span>
      <div class="headLine">SafeUM电话号码注册</div>
      <div class="info">发布于:2023-9-13 最后更新:2023-9-15 42 次查看</div>
      <div class="tagSpace">
        <span class="tag">手机卡</span>
        <span class="tag">手机卡</span>
      </div>
    </div>
  </div>
  <div class="context">
    <app-container></app-container>
  </div>
</div>
<app-footer></app-footer>
