@import '../../../assets/mixin.scss';

.cardContainerRight {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  & > .card {
    background-color: #fff;
    border-radius: 20px;

    .title {
      padding: 25px;

      & > p {
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
      }

      & > .container {
        & > .none {
          text-align: center;
          font-size: 16px;
          color: #888;
        }

        & > .has {
          display: flex;
          flex-direction: column;
          gap: 10px;

          & > .item {
            height: 60px;
            display: flex;
            gap: 10px;
            align-items: center;

            & > img {
              width: 60px;
              height: 100%;
              object-fit: cover;
            }

            & > .text {
              flex: 1;
              display: flex;
              color: #888;
              flex-direction: column;

              & > .theme {
                width: fit-content;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;
                white-space: nowrap;
                cursor: pointer;
                position: relative;
                @include borderAnime
              }

              & > .date {
                color: #aaa;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .announce {
      padding: 25px;

      & > p {
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
      }

      & > .container {
        & > .none {
          text-align: center;
          font-size: 16px;
          color: #888;
        }
      }
    }
  }
}
