<div
  class="cardContainerRight"
  [class]="(smallSize | async) ? 'smallSize' : ''"
  *ngIf="showInfo"
>
  <div class="card">
    <app-userinfo [smallSize]="false"></app-userinfo>
  </div>
  <div class="card">
    <div class="news">
      <div class="title">
        <p>
          <span
            class="iconfont icon-time-history"
            [style]="{ fontSize: '30px' }"
          ></span>
          <span>最新发布</span>
        </p>
        <app-info-skeleton *ngIf="loading"></app-info-skeleton>
        <div class="container" *ngIf="!loading">
          <app-none *ngIf="articleInfoList.length === 0"></app-none>
          <div class="has" *ngIf="articleInfoList.length !== 0">
            <div class="item" *ngFor="let item of articleInfoList.slice(0, 6)">
              <img nz-image [nzSrc]="item.backImgUrl" alt="" />
              <div class="text" (click)="toArticle(item.articleId)">
                <span class="theme" [title]="item.title">
                  {{ item.title }}
                </span>
                <span class="date" (click)="toDateCate(item.subTime)">
                  {{ item.subTime | date: 'YYYY-MM-dd' }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="announce">
      <p>
        <span
          class="iconfont icon-hotfill"
          [style]="{ fontSize: '30px' }"
        ></span>
        <span>互联网资讯</span>
      </p>
      <div class="container">
        <app-none *ngIf="!isHaveNews"></app-none>
        <app-news-list
          *ngIf="isHaveNews"
          (newsShowControl)="newsShowControl($event)"
        ></app-news-list>
      </div>
    </div>
  </div>
  <div class="card" style="height: 450px" *ngIf="!dontShowGpuRenderComponent">
    <app-weather></app-weather>
  </div>
</div>
<div class="catelogue" *ngIf="isArticle && !(smallSize | async)">
  <div class="catalogue">
    <p>
      <span class="iconfont icon-mulu" [style]="{ fontSize: '30px' }"></span>
      <span>目录</span>
    </p>
    <div class="container">
      <app-none *ngIf="false"></app-none>
      <div class="has">
        <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="true">
          <app-catalogue [catalogue]="catalogue"></app-catalogue>
        </nz-anchor>
      </div>
    </div>
  </div>
</div>
