<div
  class="cardContainerRight"
  *ngIf="showInfo"
  [class]="smallSize ? 'smallSize' : ''"
>
  <div class="card">
    <app-userinfo [isSmall]="false"></app-userinfo>
  </div>
  <div class="card">
    <div class="news">
      <div class="title">
        <p>
          <span nz-icon nzType="history" nzTheme="outline"></span>
          <span>最新发布</span>
        </p>
        <app-loading *ngIf="loading"></app-loading>
        <div class="container" *ngIf="!loading">
          <app-none *ngIf="articleInfoList.length === 0"></app-none>
          <div class="has" *ngIf="articleInfoList.length !== 0">
            <div
              class="item"
              *ngFor="let item of articleInfoList.slice(0, 6)"
              (click)="toArticle(item.articleId)"
            >
              <img [src]="item.backImgUrl" alt="" />
              <div class="text">
                <span class="theme" [title]="item.title">
                  {{ item.title }}
                </span>
                <span class="date">{{ item.subTime | date }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="announce">
      <p>
        <span nz-icon nzType="notification" nzTheme="outline"></span>
        <span>公告</span>
      </p>
      <div class="container">
        <app-none></app-none>
        <div class="has">
          <div class="item"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="catelogue" *ngIf="isArticle && !smallSize">
  <div class="catalogue">
    <p>
      <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
      <span>目录</span>
    </p>
    <div class="container">
      <app-none *ngIf="false"></app-none>
      <div class="has">
        <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="true">
          <app-catalogue [catalogue]="catalogue"></app-catalogue>
        </nz-anchor>
      </div>
    </div>
  </div>
</div>
