<div class="cardContainerRight" *ngIf="showInfo">
  <div class="card">
    <app-userinfo [isSmall]="false"></app-userinfo>
  </div>
  <div class="card">
    <div class="news">
      <div class="title">
        <p>
          <span nz-icon nzType="history" nzTheme="outline"></span>
          <span>最新发布</span>
        </p>
        <div class="container">
          <div class="none" *ngIf="articleInfoList.length === 0">
            什么都没有哦~
          </div>
          <div class="has" *ngIf="articleInfoList.length !== 0">
            <div class="item" *ngFor="let item of articleInfoList.slice(0,6)">
              <img [src]="item.backImgUrl" alt="" />
              <div class="text">
                <span class="theme" [title]="item.title">
                  {{ item.title }}
                </span>
                <span class="date">{{ item.subTime | date }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="announce">
      <p>
        <span nz-icon nzType="notification" nzTheme="outline"></span>
        <span>公告</span>
      </p>
      <div class="container">
        <div class="none" *ngIf="true">什么都没有哦~</div>
        <div class="has">
          <div class="item"></div>
        </div>
      </div>
    </div>
  </div>
</div>
